<div class="container">
  <div class="d-flex justify-content-between">

    <div class="info">
      <i class="fa fa-phone" aria-hidden="true"></i>
      <p class="phone">+1 515 151515 <br> +1 010 101010 </p>
    </div>

    <a href="index.html" class="logo">
      <h1>
        <i class="fa fa-ship" aria-hidden="true"></i>
        Cruise
        <i class="fa fa-ship" aria-hidden="true"></i>
      </h1>
    </a>

    <div class="info">
      <i class="fa fa-map-marker" aria-hidden="true"></i>
      <p class="address">77 Jack Street <br>Chicago, USA </p>
    </div>
  </div>
</div>
